h1{
    color: rgb(75, 75, 75);
    text-align: center;
}
hr{
    color: red;
    height: 2px;
}
.font1{
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
}
.font2{
    font-family: 'Cherish', cursive;
    font-weight: 400;
}
.font3{
    font-family: 'Eater', cursive;
    font-weight: 400;
}
.font4{
    font-family: 'Oi', cursive;
    font-weight: 400;
}
.font5{
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
}
.font6{
    font-family: 'Rubik Beastly', cursive;
    font-weight: 400; 
}
.font7{
    font-family: 'Rubik Glitch', cursive;
    font-weight: 400;
}
.font8{
    font-family: 'Tangerine', cursive;
    font-weight: 400;
}
.font9{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 400;
}
.font10{
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 400;
}
